
<!-- views/user/dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body style="background-color: black; color: aliceblue;">

    <h1>Welcome to Your User Dashboard</h1>

    <!-- Add more content, such as user information, statistics, etc. -->
    <div id="username"></div><br/>
    <div id="email"></div><br/>
    <div id="totalGames"></div><br/>
    <div id="highScore"></div><br/>


    <script src="dashboard.js"></script>
</body>
</html>
