<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>User Login</title>
</head>
<body>
    <div class="login-container">
        <h2>User Login</h2>
        <form id="userLoginForm">
            <label for="userUsername">Username:</label>
            <input type="text" id="userUsername" name="userUsername" required>
            
            <label for="userPassword">Password:</label>
            <input type="password" id="userPassword" name="userPassword" required>

            <button type="button" onclick="userLogin()">Login</button>
        </form>
    </div>
    <script src="../public/index.js"></script>
</body>
</html>
